.dropdown {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.popup {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(245, 245, 245, 0.555);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .popupinner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: white;
} */
.TransactionRight {
    color: red;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

input[type="date"] {
    display: inline-block;
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
.formDate::before {
	color: #999999;
	content: attr(placeholder);
}
.formDate {
	color: transparent;
}
.formDate:focus,
.formDate:valid {
	color: #666666;
}
.formDate:focus::before,
.formDate:valid::before {
	content: "" !important;
}