.dot {
	height: 25px;
	width: 25px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}

.switchbutton {
	display: flex;
	justify-content: space-between;
}

.nextbtn {
	border: 0px;
	background-color: #1f273979;
	border-radius: 18px;
	padding-left: 8px;
	padding-right: 8px;
	margin-top: 5px;
}

table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
	table-layout: fixed;
}

table caption {
	font-size: 1.5em;
	margin: .5em 0 .75em;
}

table tr {
	background-color: #fff;
	border: 1px solid #e1e5e9;
	padding: .35em;
	border-radius: 3px;
	box-shadow: rgba(174, 174, 174, 0.35) 0px -50px 36px -28px inset;
}

table td {
	cursor: pointer;
}

table thead tr:first-child {
	border: 1px solid #0f82e695;
}

table td {
	padding: 0.525em 0 0.425em 0.625em;
	text-align: left;
	font-size: 14px;
	/* font-family: cursive; */
}


table td:nth-child(3) {
	font-size: 18px;
}

table td:nth-child(4) {
	font-weight: bold;
}

table td:nth-child(1) {
	font-size: 18px;
	font-weight: 500;
}

table td:nth-child(2) {
	font-size: 18px;
	font-weight: 600;
}

table td:nth-child(5) {
	font-size: 18px;
	font-weight: 600;
}

table th {
	font-size: .95em;
	letter-spacing: .1em;
	text-transform: uppercase;
	background: #4DA3FF;
	color: #FFF;
	padding: 0.625em 0 0.625em 1.1em;
}

table tbody tr td .btn-invoice {
	background: #4DA3FF;
	border: none;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
	color: #FFF;
	font-size: 13px;
	display: inline-block;
	padding: 6px 14px;
	font-weight: 600;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
	outline: none;
	/* font-family: cursive; */
}

table tbody tr td .btn-invoice:not(:last-child) {
	border-right: none;
	/* Prevent double borders */
}

table tbody tr td .btn-invoice:hover {
	background: #1272d8;
}

.noteTr {
	background-color: #ffd453cb;
	box-shadow: 3px 3px 3px 0 #bdbdbd;
	/* margin: 0.75rem; */
	border: 3px solid #75755dcb;
}

tbody tr:nth-child(odd) {
	background-color: #fff;
}

.statusDot {
	content: '';
	width: 8px;
	height: 8px;
	border-radius: 50%;
	margin-right: 10px;
	border: 1px solid rgb(0, 0, 0)
}

.StatusLine {
	display: flex;
	align-items: center;
	justify-content: left;
}

@media screen and (max-width: 600px) {
	.statusDot {
		margin-left: 60%;
	}

	.StatusLine {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	table {
		border: 0;
	}

	table caption {
		font-size: 1.3em;
	}

	table thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		position: absolute;
		width: 1px;
		padding: 0;
	}

	table tr {
		border-bottom: 3px solid #e1e5e9;
		display: block;
		margin-bottom: .625em;
	}

	table th,
	table td {
		padding: 0.625em;
	}

	table td {
		border-bottom: 1px solid #e1e5e9;
		display: block;
		font-size: .8em;
		text-align: right;

	}

	table td::before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
		text-transform: uppercase;
		color: #656971;
	}

	table td:last-child {
		border-bottom: 0;
	}

	table td:nth-child(4) {
		font-size: 18px;
	}
}