    .switchbutton {
      display: flex;
      justify-content: space-between;
    }

.nextbtn{
  border: 0px;
  background-color: #1f273979;
  border-radius: 18px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 5px;
}

table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
	table-layout: fixed;
}

table caption {
	font-size: 1.5em;
	margin: .5em 0 .75em;
}
table tr {
	background-color: #fff;
	border: 1px solid #e1e5e9;
	padding: .35em;
	border-radius: 3px;
}
table thead tr:first-child {
    border: 1px solid #0f82e695;
}
table th,
table td {
	padding: 0.625em;
	text-align: center;
	
	font-size: 14px;
	/* font-family: cursive; */
}

table td:nth-child(3) {
	font-size: 18px;
}
table td:nth-child(1) {
	font-size: 18px;
}
table td:nth-child(2) {
	font-size: 18px;
  font-weight: 600;
}

table th {
	font-size: .85em;
	letter-spacing: .1em;
	text-transform: uppercase;
	background: #4DA3FF;
	color: #FFF;
}

table tbody tr td .btn-invoice {
	background: #4DA3FF;
	color: #FFF;
	font-size: 13px;
	padding: 10px 20px;
	border: 0;
	/* font-family: cursive; */
}

tbody tr:nth-child(even) {
	background-color: #eee;
}

tbody tr:nth-child(odd) {
	background-color: #fff;
}

@media screen and (max-width: 600px) {
	table {
		border: 0;
	}
	table caption {
		font-size: 1.3em;
	}
	table thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		position: absolute;
		width: 1px;
		padding: 0;
	}
	table tr {
		border-bottom: 3px solid #e1e5e9;
		display: block;
		margin-bottom: .625em;
	}
	table th,
	table td {
		padding: 0.625em;
	}
	table td {
		border-bottom: 1px solid #e1e5e9;
		display: block;
		font-size: .8em;
		text-align: right;
		
	}
	table td::before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
		text-transform: uppercase;
		color: #656971;
	}
	table td:last-child {
		border-bottom: 0;
	}
	table td:nth-child(4) {
		font-size: 0.8em;
	}
}