/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --primary-color: #0E4BF1;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: rgba(0, 128, 0, 0.6);
    --box2-color: #FFE6AC;
    --box3-color: rgba(222, 0, 0, 0.6);
    --title-icon-color: #fff;
    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 100vh;
    background-color: white;
}
body.dark{
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
}
::-webkit-scrollbar {
    width: 0px;
}
/* === Custom Scroll Bar CSS === */
/* ::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
} */

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    padding: 10px 0px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
    overflow-y: scroll;
}
nav.close{
    width: 73px;
}
nav .logo-name{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 299px;
    padding: 15px 10px;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(220, 220, 220);
}
nav .logo-image{
    display: flex;
    justify-content: center;
    /* min-width: 45px; */
}
nav .logo-image img{
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name{
    font-size: 28px;
    font-weight: bolder;
    color: rgb(64, 87, 171);
    /* margin-left: 14px; */
    transition: var(--tran-05);
}
nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
nav .menu-items{
    margin-top: 59px;
    margin-left: -28px;
    /* height: calc(100% - 90px); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    /* display: flex; */
    /* align-items: center; */
    /* height: 50px; */
    text-decoration: none;
    /* position: relative; */
}
.mode:hover{
    background-color: rgb(225, 219, 219);
}
.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
body.dark li a:hover:before{
    background-color: var(--text-color);
}
.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.menu-items li a .link-name{
    font-size: 20px;
    font-weight: 500;
    color: black;    
    transition: var(--tran-05);
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
}
.menu-items .logout-mode{
 margin-bottom: 5px;
}
.contactMode{
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 0.6em 1em;
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 0.6em 1em;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
body.dark .switch:before{
    left: 20px;
}

.dashboard{
    position: relative;
    left: 300px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 300px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 300px;
    display: flex;
    width: calc(100% - 300px);
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    padding-right: 1%;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    /* z-index: 10; */
}
nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}
.top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.top .search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}
.top img{
    width: 40px;
    border-radius: 50%;
}
.dashboard .dash-content{
    padding-top: 57px;
}
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 60px 0 10px 10px;
}
.dash-content .title:hover{
    cursor: pointer;
}
.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.dash-content .boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dash-content .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 2 - 15px);
    padding: 0px 10px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
}
.boxes .box i{
    font-size: 35px;
    color: var(--text-color);
}
.boxes .box .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box .number{
    font-size: 39px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box.box2{
    background-color: var(--box2-color);
}
.boxes .box.box3{
    background-color: var(--box3-color);
    /* margin-bottom: 10px; */
}
.user-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.downAngle{
    text-align: center;
    width: 80%;
    border-radius: 20px;
    margin-top: 5px;
    background-color: #0e4bf16c;
    border: #0e4bf16c;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.overview{
    text-align: center;
    margin: 0;
}
.void{
    opacity: 0;
    height: 0.1px;
}

.contactSearch{
    margin-left: 42px;  
    width: 83%;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 5px;
}
.contactSearch img{
    width: 18px;
}
.contactSearch input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
/* @media (max-width: 1000px) {
    nav{
        width: 73px;
    }
    nav.close{
        width: 300px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    .Contact_inc_exp{
        opacity: 0;
    }
    .contacts{
        opacity: 0;
        pointer-events: none;  
    }
    nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 300px;
        width: calc(100% - 300px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard .top{
        left: 300px;
        width: calc(100% - 300px);
    }
    .activity .activity-data{
        overflow-X: scroll;
    }
} */

@media (max-width: 780px) {
    .dash-content .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}
@media (max-width: 560px) {
    .dash-content .boxes .box{
        width: 100% ;
    }
}
@media (max-width: 1000px) {
    nav{
        width: 350px;
        
    }
    nav .logo-name{
        width: 349px;
        background: rgb(225, 225, 225);
    }
    nav.close{
        width: 73px;
    }
    nav .logo_name{
        opacity: 1;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 1;
        pointer-events: none;
    }
    .contacts{
        opacity: 1;
        pointer-events: none;  
    }
    nav li a .link-name{
        opacity: 1;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 1;
        pointer-events: none;
    }
    nav ~ .dashboard{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
    .Contact_inc_exp{
        opacity: 1;
    }
}


.notification {
    font-size: 35px;
    color: rgb(219, 30, 30);
    padding-left: 20px;
}
.notification:hover {
  color: rgb(246, 49, 49);
 
}
.right-zone {
    display: flex;
    align-items: center;
  }

  .plus{
    width: 35px;
    /* align-content: center; */
    height: 35px;
    text-align: center;
   /* align-self: auto; */
   color: white;
    background-color: rgb(0, 55, 255);
    border-radius: 50%;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
  }
  .plus:hover{
    text-align: center;
    font-size: larger;
    height: 32px;
    width: 32px;
  }
  .userplus{
    width: 42px;
    height: 42px;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
  0 10px 10px rgba(0,0,0,0.22);
  }
  .userDiv{
      padding-left:20px;
  }
  .userplus:hover{
    text-align: center;
    font-size: larger;
    height: 32px;
    width: 35px;
  }
  .contacts{
    font-size: 25px;
    font-weight: bold;
    color: var(--black-light-color);    
    transition: var(--tran-05);
  }
.selectBox{
    margin-right: 10px;
    width: 180px;
        height: 28px;
        border: 1px solid #999;
        font-size: 18px;
        color: #000000;
        background-color: #eee;
        border-radius: 5px;
        box-shadow: 4px 4px #ccc;
}
 .typetitle{
    display: flex;
    /* align-items: center; */
    text-align: center;
    margin: 8px 10px 8px 10px;
}
.typetitle .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}

.typetitle i{
    position: relative;
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 20px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.contactdetails{
    display: flex;
    flex-direction: column;
}
.Contact_inc_exp{
    font-size: 13px;
}
.AllTran_button{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    /* font-family: arial, sans-serif; */
    /*input has OS specific font-family*/
    /* color: #069; */
    text-decoration: underline;
    cursor: pointer;
    font-size: larger;
    font-weight: 600;
    margin-left: 12px;
    margin-bottom: 12px;
  }
  .circle {
    cursor: pointer;
    position: fixed;
    bottom: 8%;
    right: 5%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 8px;
    background: #fff;
    border: 3px solid rgb(0, 55, 255);
    color: rgb(255, 255, 255);
    background-color:rgb(0, 55, 255);
    text-align: center;
    font: 20px Arial, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }