@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");


.loginbody {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #303433;
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.loginmain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginside {
	display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/bk.png) no-repeat;
    background-size: 100% 102%;
}

.loginside img {
    width: 50%;
    max-width: 50%;
}

.login-container {
    max-width: 450px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logintitle {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

.separator {
    width: 150px;
    height: 4px;
    background-color:#FF416C;
    margin: 24px;
}

.welcome-message {
    text-align: center;
    font-size: 1.1em;
    line-height: 28px;
    margin-bottom: 30px;
    color: #696969;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.loginform-control {
    width: 100%;
    position: relative;
    margin-bottom: 24px;
	border: 0;
}

.login-input,
.submit {
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.1em;
}

.login-input {
    width: 100%;
    background: #e6e6e6;
    color: #333;
    letter-spacing: 0.5px;
    padding: 14px 64px;
}

.login-input ~ i {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    transition: color   0.4s;
}

.login-input ~ i {
    color:  #FF4B2B;
}

.submit {
    color: #fff;
    padding: 14px 64px;
    margin: 32px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    background-image:linear-gradient(to right, #FF416C, #FF4B2B);;;
    cursor: pointer;
    transition: opacity 0.4s;
}

.submit:hover {
    opacity: 0.9;
}

/* ----  Responsiveness   ----  */
@media (max-width: 780px) {

    .loginbody {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loginside {
        display: none;
    }
	
}